<div class="row">
  <div class="col-9">
    <h3>Kwestionaruusz osobowy edycja {{ card?.firstName }}</h3>
  </div>
</div>
<app-questionnaire-form
  #questionnaireForm
  [editMode]="true"
></app-questionnaire-form>
<mat-dialog-actions>
  <div class="row">
    <div class="col">
      <button mat-raised-button mat-dialog-close>Cancel</button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="questionnaireForm.form.invalid"
      >
        Zapisz
      </button>
    </div>
  </div>
</mat-dialog-actions>
