<div class="card-container">
  <div class="shodow mat-card-content">
    <div class="row">
      <div class="col">
        <p class="name">Login: {{ card.login }}</p>
        <p class="name">Imię: {{ card.firstName }}</p>
        <p class="name">Nazwisko: {{ card.lastName }}</p>
        <p class="name">Imiona rodziców: {{ card.lastName }}</p>
        <p class="label">Czlonkowie rodziny:</p>
        <ul>
          <li *ngFor="let member of card.family">
            <p>Imię: {{ member.name }},</p>
            <p>pokrewieństwo: {{ member.relationship }}</p>
            <p>Data urodzenia: {{ member.dob }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
