<form [formGroup]="form">
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput formControlName="firstName" placeholder="Imię" />
        <mat-error *ngIf="form.get('firstName').hasError('required')"
          >Imię jest wymagane</mat-error
        >
        <mat-error *ngIf="form.get('firstName').hasError('minlength')"
          >Minimalna ilość znaków to 3</mat-error
        >
        <mat-error *ngIf="form.get('firstName').hasError('maxlength')"
          >Maksymalna ilość znaków to 30</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-sm-4">
      <mat-form-field>
        <input matInput formControlName="lastName" placeholder="Nazwisko" />
        <mat-error>Nazwisko jest wymagane</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input
          matInput
          formControlName="namesOfParents"
          placeholder="Imiona rodziców"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput formControlName="pesel" placeholder="Pesel" />
        <mat-error>Pesel jest wymagany</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput formControlName="dateOfBirth" placeholder="Data" />
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input
          matInput
          formControlName="placeOfBirth"
          placeholder="Miejsce urodzenia"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input
          matInput
          formControlName="address"
          placeholder="Adres do korespondencji"
        />
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput formControlName="city" placeholder="Miasto" />
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput formControlName="zipCode" placeholder="Kod pocztowy" />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-checkbox formControlName="approve"> Wyrażam zgodę</mat-checkbox>
    </div>
  </div>
  <div
    formArrayName="family"
    class="family-container shadow"
    *ngFor="let familyMember of family.controls; index as index"
  >
    <div class="row family-header">
      <div class="col">
        <span> Członek rodziny - {{ index + 1 }}</span>
        <mat-icon class="float-right" (click)="removeFamilyMember(index)"
          >delete_forever</mat-icon
        >
      </div>
    </div>
    <div class="row" [formGroupName]="index">
      <div class="col-sm-5">
        <mat-form-field>
          <input
            matInput
            formControlName="name"
            placeholder="Imię członka rodziny"
          />
        </mat-form-field>
      </div>
      <div class="col-sm-5">
        <mat-form-field>
          <input matInput formControlName="dob" placeholder="Data urodzenia" />
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-select
            formControlName="relationship"
            placeholder="pokrewieństwo"
          >
            <mat-option
              *ngFor="let familyMember of familyMembers"
              [value]="familyMember.value"
              >{{ familyMember.label }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button mat-raised-button color="primary" (click)="addFamilyMember()">
        Dodaj członka rodziny
      </button>
    </div>
  </div>
</form>
<pre>{{ form.value | json }}</pre>
